[submodule "vulnerable_contracts/solmate/lib/forge-std"]
	path = vulnerable_contracts/solmate/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "vulnerable_contracts/solmate/lib/solmate"]
	path = vulnerable_contracts/solmate/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "vulnerable_contracts/rebasing_accounting/lib/forge-std"]
	path = vulnerable_contracts/rebasing_accounting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "vulnerable_contracts/rebasing/lib/openzeppelin-contracts"]
	path = vulnerable_contracts/rebasing/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "vulnerable_contracts/abiencode/lib/forge-std"]
	path = vulnerable_contracts/abiencode/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "vulnerable_contracts/TransferFrom/lib/forge-std"]
	path = vulnerable_contracts/TransferFrom/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "vulnerable_contracts/TransferFrom/lib/openzeppelin-contracts"]
	path = vulnerable_contracts/TransferFrom/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
